@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    font-size: small;
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
    margin-top: 0.313em;

}

.user a {
    color: #9ac89c;
    text-decoration: none;
}

.header {
    background-color: #121212;
    color: white;
    box-sizing: border-box;
    padding: 0.188em;
}

.logos {
    margin-top: 0.313em;
    margin-bottom: 0.313em;
    margin-left: 0.313em;
}

.foto-perfil {
    font-weight: bold;
    border-radius: 3.125em;
    margin-left: 0.625em;
    margin-right: 0.938em;
}

.nombre {
    margin: 0;
    margin-bottom: -0.938em;
    text-align: right;
    font-weight: bold;
}

.menu {
    color: white;
    background-color: #59a15b;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu ul {
    padding: 0%;
    margin: 0;


}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0.75em;
    font-weight: bold;

}

.menu a:hover {
    background-color: #519253;
    transition: 0.5s;
}

#campanita {
    width: 1.875em;
    height: 1.875em;
}

#intraconsulta {

    width: 2.5em;
    height: 2.5em;
}

#activo {
    color: #519253;
}

.dots {
    padding: 0;
    margin: 0%;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    padding-top: 0.313em;
    font-weight: bold;
    font-size: 0.75em;
}

aside {
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0%;
    background-color: #262626;
    color: white;
    width: 15.625em;
}


.aside-items a {
    text-decoration: none;
    color: white;
}

.aside-items li:hover {
    background-color: #3d3c3c;
}

.aside-items li {
    padding: 0.625em;
    padding-left: 1.25em;
    padding: 0.625em;
    display: flex;
    padding-left: 1.25em;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    gap:15px;

}


.aside-items {
    padding: 0;

    padding: 0.625em;
    padding-left: 1.25em;

    list-style: none;
}


aside h2 {
    margin: 0;
    padding: 0.625em;
    font-size: x-large;
    font-weight: 500;
}

main {
    display: flex;
    background-color: #121212;
}

.bienvenido {
    box-sizing: border-box;
    padding: 1.875em;
    align-items: center;
    width: 100%;
    color: white;
    margin-left: 20%;
}

.bienvenido-materias {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bienvenido-materias h2 {
    font-weight: 500;
    font-size: x-large;
}

.caja-herramientas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25em;
    margin: 2%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.caja-materia {
    background-color: #4D4C4C;
    border: 1px solid #DBDBDB;
    padding: 1%;
    margin: 0;
    height: 100%;
    width: 100%;
}

.caja-materia-titulo {
    display: flex;
    font-size: 1.25em;
    justify-content: flex-start;
    align-items: center;
    gap: 0.438em;
}


#tools {
    fill: #519253;
    width: 20px;
    height: 20px;
}

#form i {
    font-size: 1.563em;
    padding: 0.318em;
}

.v :hover {
    background-color: rgb(88, 157, 90);
}

.a :hover {
    background-color: rgb(64, 169, 229);
}



hr {
    border-color: #444;
    width: 70%;
    margin-left: 26%;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-top: solid 2px #4D4C4C;
}

.pie p {
    color: #444;
    font-size: 0.938em;
    font-weight: bold;
}