.caja-tramites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25em;
    margin: 2%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }