.caja-tramites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25em;
    margin: 2%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

  .mensaje-con-select{
    display: flex;
    font-size: large;
    align-items: center;
    gap: 10px;
  }

  .columna{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .select-t{
    width: 200px;
    height: 100%;
    padding: 5px;
  }

  .paso{
    color:#2196F3;
    font-size: large;
    font-weight: bold;
  }

  .pie-tabla{
    font-style: italic;
    margin-top: -20px;
  }

  .input-t{
    width: 300px;
    padding: 5px;
  }

  #ok{
    font-weight: bold;

  }